In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\caleb\miniconda3\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\caleb\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\caleb\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\caleb\miniconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\caleb\miniconda3\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\caleb\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [5]:
mvps = pd.read_csv("mvps.csv")

In [6]:
# Adjusting mvps table to only include necessary columns
# Some of the other columns exist in the other tables

mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [7]:
players = pd.read_csv("players.csv")

In [8]:
# Removing unwanted columns
del players["Unnamed: 0"]
del players["Rk"]

In [9]:
# Merging players and mvps based on the player name and year

In [10]:
# Removing trailing asterisk from players who have it in their name
players["Player"] = players["Player"].str.replace("*", "", regex=False)

In [14]:
# A few players have multiple entries for the same year
# This is because they may have played for multiple teams within a season
# Grouping them together

# If the player has one entry return otherwise only return the entry with the player's total stats
def single_row(df):
    if df.shape[0] == 1:
        return df
    else:
        row = df[df["Team"] == "TOT"]
        # Replace the team TOT with the last team they played for
        row["Team"] = df.iloc[-1,:]["Team"]
        return row
    
players = players.groupby(["Player", "Year"]).apply(single_row)

In [ ]:
# Removing extra index levels that were created from the previous cell
players.index = players.index.droplevel()
players.index = players.index.droplevel()
# players.head(20)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
10800,Ömer Aşık,26,HOU,C,82,82,30.0,4.0,7.5,.541,...,8.3,11.7,0.9,0.6,1.1,2.1,2.7,10.1,NaN,2013
11553,Ömer Aşık,27,HOU,C,48,19,20.2,2.1,4.0,.532,...,5.8,7.9,0.5,0.3,0.8,1.2,1.9,5.8,NaN,2014
12156,Ömer Aşık,28,NOP,C,76,76,26.1,2.8,5.4,.517,...,6.6,9.8,0.9,0.4,0.7,1.3,1.9,7.3,NaN,2015
12964,Ömer Aşık,29,NOP,C,68,64,17.3,1.5,2.9,.533,...,4.3,6.1,0.4,0.3,0.3,0.9,1.8,4.0,NaN,2016
13658,Ömer Aşık,30,NOP,C,31,19,15.5,1.0,2.1,.477,...,3.7,5.3,0.5,0.2,0.3,0.5,1.6,2.7,NaN,2017
6745,Šarūnas Jasikevičius,29,IND,PG,75,15,20.8,2.3,5.7,.396,...,1.8,2.0,3.0,0.5,0.1,1.5,1.4,7.3,NaN,2006
669,Šarūnas Marčiulionis,30,SEA,SG,66,4,18.1,3.3,6.9,.473,...,0.8,1.0,1.7,1.1,0.0,1.5,1.9,9.3,NaN,1995
1130,Šarūnas Marčiulionis,31,SAC,SG,53,0,19.6,3.3,7.3,.452,...,1.1,1.5,2.2,1.0,0.1,1.8,2.1,10.8,NaN,1996
1768,Šarūnas Marčiulionis,32,DEN,SG,17,0,15.0,2.2,5.9,.376,...,1.1,1.8,1.5,0.7,0.1,2.4,2.2,6.8,NaN,1997
916,Žan Tabak,24,HOU,C,37,0,4.9,0.6,1.4,.453,...,0.9,1.5,0.1,0.1,0.2,0.5,1.0,2.0,NaN,1995
1204,Žan Tabak,25,TOR,C,67,18,19.9,3.4,6.2,.543,...,3.0,4.8,0.9,0.4,0.5,1.5,3.0,7.7,NaN,1996
1783,Žan Tabak,26,TOR,C,13,4,16.8,2.5,5.5,.451,...,2.2,3.8,1.1,0.5,0.8,1.6,2.7,6.5,NaN,1997
3650,Žan Tabak,29,IND,C,18,0,6.3,0.9,1.9,.471,...,0.9,1.8,0.2,0.2,0.5,0.6,0.7,2.1,NaN,2000
4110,Žan Tabak,30,IND,C,55,14,14.1,1.8,3.4,.527,...,2.7,3.9,0.6,0.2,0.5,1.0,2.3,3.9,NaN,2001
5674,Žarko Čabarkapa,22,PHO,PF,49,4,11.6,1.7,4.0,.411,...,1.5,2.0,0.8,0.2,0.3,1.1,1.5,4.1,NaN,2004
6905,Žarko Čabarkapa,24,GSW,PF,61,0,8.3,1.1,2.9,.385,...,1.2,1.8,0.3,0.2,0.1,0.6,1.4,3.3,NaN,2006
4512,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,NaN,2002
5014,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,NaN,2003
6220,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,NaN,2005
6833,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,NaN,2006

In [37]:
# Merging the dataframes
combined = players.merge(mvps, how="outer", on=["Player", "Year"])
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,NaN,NaN,NaN
1,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,NaN,NaN,NaN
2,A.C. Green,32,PHO,SF,82,36,25.8,2.6,5.4,.484,...,0.5,0.3,1.0,1.7,7.5,NaN,1996,NaN,NaN,NaN
3,A.C. Green,34,DAL,PF,82,68,32.3,3.0,6.5,.453,...,1.0,0.3,0.8,1.9,7.3,NaN,1998,NaN,NaN,NaN
4,A.C. Green,35,DAL,PF,50,35,18.5,2.2,5.1,.422,...,0.6,0.2,0.4,1.4,4.9,NaN,1999,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12456,James Harden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021,1.0,1010.0,0.001
12457,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,875.0,1000.0,0.875
12458,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022,146.0,1000.0,0.146
12459,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,674.0,1000.0,0.674
12460,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2023,10.0,1000.0,0.010

In [ ]:
# Replacing NAN values with 0
combined[["Pts Won", "Pts Max", "Share"]] = combined[["Pts Won", "Pts Max", "Share"]].fillna(0)

# Cleaning issues that came from merge
combined = combined.iloc[:12439]
combined = combined[combined['Player'] != 'League Average']

In [41]:
# Combining with team data

In [42]:
teams = pd.read_csv("teams.csv")

In [43]:
# Removing any rows that had division in it
teams = teams[~teams["W"].str.contains("Division")]

In [44]:
# Removing asterisks from team names
teams = teams["Team"].str.replace("*", "", regex=False)
teams.head(5)

0    New York Knicks
1      Orlando Magic
2    New Jersey Nets
3         Miami Heat
4     Boston Celtics
Name: Team, dtype: object

In [45]:
nicknames = {}

with open("nicknames.csv") as f:
    lines = f.readlines()
    for line in lines[1:]: # Skipping header row
        abbrev, name = line.replace("\n", "").split(",")
        nicknames[abbrev] = name

In [46]:
combined["Team"] = combined["Team"].map(nicknames)
combined.tail()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
12434,Žarko Čabarkapa,24,Golden State Warriors,PF,61,0,8.3,1.1,2.9,.385,...,0.2,0.1,0.6,1.4,3.3,NaN,2006,0.0,0.0,0.0
12435,Željko Rebrača,29,Detroit Pistons,C,74,4,15.9,2.6,5.1,.505,...,0.4,1.0,1.1,2.6,6.9,NaN,2002,0.0,0.0,0.0
12436,Željko Rebrača,30,Detroit Pistons,C,30,12,16.3,2.7,4.8,.552,...,0.2,0.6,1.0,2.6,6.6,NaN,2003,0.0,0.0,0.0
12437,Željko Rebrača,32,Los Angeles Clippers,C,58,2,16.0,2.3,4.0,.568,...,0.2,0.7,0.8,2.2,5.8,NaN,2005,0.0,0.0,0.0
12438,Željko Rebrača,33,Los Angeles Clippers,C,29,2,14.2,1.8,3.3,.542,...,0.2,0.7,0.8,2.0,4.7,NaN,2006,0.0,0.0,0.0